/* -------------------------------------------------- */


@import "default.css";


/* -------------------------------------------------- */


.menu-btn {
    display: flex;
    flex-direction: column;
    
    width: 36px;
    gap: 8px;
}

.menu-btn > div {
    height: 2px;
    background-color: var(--secondary-clr);
    border-radius: 1px;
}


/* -------------------------------------------------- */


.logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-clr);
    cursor: pointer;
}


/* -------------------------------------------------- */


.front-image {
    position: relative;
    height: calc(100vh - 5rem);

    background-image: linear-gradient(45deg, var(--primary-clr), var(--secondary-clr));

    display: flex;
    justify-content: center;
    align-items: center;
}
.front-image > .placeholder {
    padding: 4rem 6rem;
    border-radius: 2rem;

    font-size: 3rem;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}


/* -------------------------------------------------- */