* {
    margin: 0;
    padding: 0;
    background: none;
    text-decoration: none;
    border: none;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
}

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    background-color: #212121;
    padding: 0 1.5rem;
}

.main-header header {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.main-header-left {
    align-content: center;
}

.main-header-middle {
    display: flex;
    justify-content: center;
    align-items: end;
}
.main-header-nav {
    background-color: #959528;
    height: 2rem;
    width: clamp(300px, 100%, 800px);

    display: flex;

    overflow: hidden;
    border-radius: 12px 12px 0 0;
}
.main-header-nav button {
    flex: 1;
    cursor: pointer;
}
.main-header-nav button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main-header-right {

    display: flex;
    justify-content: right;
    align-items: center;
}
.main-header-right button {
    border: #959528 solid 2px;
    border-radius: 0 0 0 12px;
    padding: 8px 4px;
    height: 2.2rem;
    width: 3rem;
    margin: 1.5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    cursor: pointer;
}
.main-header-right button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.main-header-right button div {
    width: 60%;
    height: 2px;
    border-radius: 1px;

    background-color: #959528;
}



.main-body {
    height: 120vh;
    background-color: #110;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    padding: 2rem 2rem;


    background-color: #212121;
}

.main-footer-contact-info {
    display: grid;
    gap: 1rem;
    justify-items: center;
}

.main-footer-nav {
    display: grid;
    gap: 1rem;
}